/node_modules
/public_bak/bower_components
/public_bak/node_modules
/public_bak/bundle.js
/public_bak/bundle.js.map
/public_bak/css/main.css
/src/bower_components
/src/node_modules
/public/bundle.js
/public/bundle.js.map
/src/css/main.css
/temp


/public/dist/*


/loggers/*
!/loggers/file.log
npm-debug*
.DS_Store
/src/main.js
yarn.lock

