
<dom-module id="question-upload">
    <template>
        <paper-button class="gl-btn-success" on-tap="selectFile" raised>อัปโหลดคำถาม</paper-button>
        <input id="file" type="file" on-change="fileChange" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,text/comma-separated-values, text/csv, application/csv" hidden>
    </template>
    <script>
        Polymer({
            is: 'question-upload',
            behaviors:[dispatchActionBehavior],
            properties:{
                imageId:{
                    notify:true,
                    value:""
                }
            },
            behaviors:[dispatchActionBehavior],
            selectFile:function(){
                this.$.file.click();
            },
            fileChange:function(e){
                this.dispatchAction('QUESTION_UPLOAD',e.currentTarget.files)
                .then(res=>{
                    console.log(res);
                    alert('upload ok')
                });
            }
        });
    </script>
</dom-module>