
<dom-module id="question-list">
    <template>
        <style include="page-style">
        </style>
        <div class="container">
            
            <paper-material elevation="1">
                <div class="content">
                    <table class="gl-table-default">
                        <thead>
                            <tr>
                                <th style="width:10%">ข้อที่</th>
                                <th>คำถาม</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    toppic
                                </td>
                                <td style="text-align: right;">
                                    <iron-icon icon="create"></iron-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                     <!--<paper-icon-button icon="alarm-on" title="wake up" class="giant"></paper-icon-button>
                     <span>toppic</span>-->
                </div>
            </paper-material>
        </div>
    </template>
    <script>
        Polymer({
            is: 'question-list'
        });
    </script>
</dom-module>