
<link rel="import" href="./manage-list.html">

<dom-module id="examRoom-manage">
    <template>
        <style include="page-style flex-style">
            .margin{
                margin-top: 16px;
                text-align: center;
            }
        </style>
        <div class="container">
            
            <paper-material elevation="1">
                <div class="container bgWhite">
                    <div class="flex-horizontal-with-ratios">
                        <div class="flexchild"></div>
                        <div class="flexchild fontCSC margin">
                            ชื่อห้องสอบ
                        </div>
                        <div class="flex3child" style="text-align: left">
                            <gl-form-input class"width" no-label-float></gl-form-input>
                        </div>
                        <div class="flexchild"></div>
                    </div>
                    <div class="flex-horizontal-with-ratios">
                        <div class="flexchild"></div>
                        <div class="flexchild fontCSC margin">
                            เลือกข้อสอบ
                        </div>
                        <div class="flex3child" style="text-align: left">
                            <gl-combo-box class"width" no-label-float items="" item-label-path="" item-value-path="" value=""></gl-combo-box>
                        </div>
                        <div class="flexchild"></div>
                    </div>
                    <div class="flex-horizontal-with-ratios">
                        <div class="flexchild"></div>
                        <div class="flexchild fontCSC margin">
                            กำหนดเวลา
                        </div>
                        <div class="flexchild" style="text-align: left">
                            <gl-form-input class"width" type="number" no-label-float>
                                <div suffix>นาที</div>
                            </gl-form-input>
                        </div>
                        <div class="flex3child"></div>
                    </div>
                </div>
            </paper-material>
            <div class="flex-equal-around-justified">
                <div>
                    <manage-list></manage-list>
                </div>
                <div>
                    <manage-list></manage-list>
                </div>
            </div>
        </div>
        <div class="container flex-end-justified">
            <div>
                <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
            </div>
            <div>
                <paper-button class="gl-btn-success" raised>บันทึก</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'examRoom-manage',
            behaviors: [ReduxBehavior,dispatchActionBehavior],
            properties:{
                dataSelect:{
                        statePath:'examinationRoom.dataSelect'
                    }
            },
        });
    </script>
</dom-module>