
<dom-module id="examRoom-list"> 
    <template>
        <style include="page-style">
            tbody>tr>td{
                 cursor: pointer;
            }
            tbody>tr:hover{
                font-weight: bold;
                border-bottom: 2px solid dodgerblue;
            }
        </style>
            
            <paper-material elevation="1">
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th style="width:10%">#</th>
                        <th>รายชื่อห้องสอบ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
              </paper-material>
    </template>
    <script>
        Polymer({
            is: 'examRoom-list'
        });
    </script>
</dom-module>