

<link rel="import" href="./examRoom-manage.html">

<dom-module id="examRoom-tabs">
    <template>
        <style include="page-style tabs-style">
            paper-tabs{
                --paper-tabs:{
                    background-color:white;
                    border-bottom:1px solid #ddd;
                }
            }
        </style>
        <!--#95bf31;-->
        <paper-material elevation="1">
            <paper-tabs selected="{{selected}}">
                <paper-tab>สร้างห้องสอบ</paper-tab>
                <paper-tab>ผลการสอบ</paper-tab>
            </paper-tabs>
        </paper-material>
            <iron-pages selected="{{selected}}">
                <section><examRoom-manage></examRoom-manage></section>
                <section>
                   
                </section>
            </iron-pages>
    
    </template>
    <script>
        Polymer({
            is: 'examRoom-tabs',
            properties:{
                selected:{
                    type:String,
                    value: '0'
                }
            }
        });
    </script>
</dom-module>