
<dom-module id="manage-list">
    <link rel="import" type="css" href="manage-list.css">
    <template>
          <style include="page-style">
            tbody>tr>td{
                 cursor: pointer;
            }
            tbody>tr:hover{
                font-weight: bold;
                border-bottom: 2px solid dodgerblue;
            }
        </style>
        <div class="container">
            
            <paper-material elevation="1">  
            <div class="header gl-default bgWhite container">รายชื่อผู้เรียนทั้งหมด</div>
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th style="width: 10%;text-align: center;">#</th>
                        <th>ชื่อ-นามสกุล</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="[[joinData]]">
                        <tr>
                            <td style="width: 10%;text-align: center;">
                                <paper-icon-button on-tap="joinClassRoom" index="[[index]]" icon="add"></paper-icon-button> 
                            </td>
                            <td>
                                [[item.std_name]]
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            </paper-material>
        </div>
        
    </template>
    <script>
        Polymer({
            is: 'manage-list',
            behaviors:[ReduxBehavior,dispachActionBehavior],
            // observers:['checkStatus(dataList.*)'],
            properties:{
                dataList:{
                    statePath:'classRoom.dataList',
                    observer:'setData'
                }
            },
            ready:function(){
                this.dispachAction('CLASSROOM_GET_LIST');
            },
            setData:function(){
                this.dataList.map((item,index)=>{
                    this.set('dataList.'+index+'.status',false)
                })
                this.joinData = this.dataList.filter((item)=>{
                    return item.status == false;
                })
                this.cancelData = this.dataList.filter((item)=>{
                    return item.status == true;
                })
                // console.log(this.joinData)
            },
            joinClassRoom:function(e){
                var i = e.target.index;
                this.set('joinData.'+i+'.status',true);
                this.set('cancelData.'+i+'.status',true);

                this.joinData = this.dataList.filter((item)=>{
                    return item.status == false;
                })
                this.cancelData = this.dataList.filter((item)=>{
                    return item.status == true;
                })
            },
            cancelClassRoom:function(e){
                var i = e.target.index;
                this.set('joinData.'+i+'.status',false);
                this.set('cancelData.'+i+'.status',false);

                this.joinData = this.dataList.filter((item)=>{
                    return item.status == false;
                })
                this.cancelData = this.dataList.filter((item)=>{
                    return item.status == true;
                })
            }
        });
    </script>
</dom-module>