
<dom-module id="examHistory-list-complete">
    <template>
        <style include="page-style">
            tbody>tr>td{
                 cursor: pointer;
            }
            tbody>tr:hover{
                font-weight: bold;
                border-bottom: 2px solid dodgerblue;
            }
        </style>
        <div class="container">
            <paper-material elevation="1">
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th style="width:10%">#</th>
                        <th>รายชื่อข้อสอบ</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="[[examList]]">
                        <tr>
                            <td>[[getIndex(index)]]</td>
                            <td>[[item.exam_room_name]]</td>
                        </tr>
                    </template>
                </tbody>
            </table>
             </paper-material>
             </div>
    </template>
    <script>
        Polymer({
            is: 'examHistory-list-complete',
            behaviors:[ReduxBehavior],
            getIndex:function(index){
                return index+1;
            },
            properties:{
                examList:{
                    statePath:'examHistory.examListComplete'
                }
            }
        });
    </script>
</dom-module>