
<link rel="import" href="./examination-list.html">

<dom-module id="examination-manage">
    <template>
        <style include="page-style">
            .question{
                margin-top: 8px;
                text-align: right;
                font-size: 20px;
            }
            paper-radio-button{
                --paper-radio-button-size:22px;
            }
            gl-form-input{
                --paper-input-container-label:{
                    font-size: 12px;
                    font-weight:normal;
                }
            }
            .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
            }
            .flexchild {
                @apply(--layout-flex);
            }
            .flex2child {
                @apply(--layout-flex-2);
            }
            .flex3child {
                @apply(--layout-flex-3);
            }
            .flex4child {
                @apply(--layout-flex-4);
            }
            .hideBorder{
                border-bottom: 2px solid white;
            }
        </style>
        <div class="container">
            <paper-material elevation="1">
                <table class="gl-table-default">
                    <thead>
                        <tr class="hideBorder">
                            <th style="width:10%;text-align: right; font-size: 18px;">Module</th>
                            <th>[[module]]</th>
                            <th></th>
                        </tr>
                        <tr class="hideBorder">
                            <th style="width:10%;text-align: right; font-size: 18px;">ชื่อข้อสอบ</th>
                            <th><gl-form-input placeholder="" no-label-float value="{{data.name_examination}}"></gl-form-input></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th style="width:10%;text-align: right; font-size: 18px;">คำอธิบาย</th>
                            <th><gl-form-textarea placeholder="" no-label-float value="{{data.description}}"></gl-form-textarea></th>
                             <th style="width:20%;">
                                 <!--<paper-button on-tap="startQuize" raised>เริ่มทำข้อสอบ</paper-button>-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{data.objective}}">
                            <tr class="hideBorder">
                                <td style="text-align: right;">
                                    [[cont(index)]]
                                    <!--<paper-radio-button checked="{{item.checked}}" index="[[index]]" on-tap="selectRadio"></paper-radio-button>-->
                                </td>
                                <td>
                                    <div class="flex-horizontal-with-ratios">
                                        <div class="flex4child">
                                            <gl-form-input style="width: 90%;" placeholder="วัตถุประสงค์ที่ [[cont(index)]]" no-label-float value="{{item.name}}"></gl-form-input>
                                        </div>
                                        <div class="flex2child">
                                            <gl-form-input placeholder="จำนวนข้อ" no-label-float value="{{item.amount}}"></gl-form-input>
                                        </div>
                                    </div>
                                    
                                </td>
                                <td style="width:10%;text-align: center;">
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                </td>
                                <td>
                                    <div class="flex-horizontal-with-ratios">
                                        <div class="flex4child">
                                             <tag-module-form label="เลือก sub-module" items="{{subModule}}" value="{{item.sub_module}}"></tag-module-form>
                                            <!--<gl-combo-box style="width: 50%" label="เลือก Module" always-float-label items="{{listTag}}" value="{{item.obj_tag}}"></gl-combo-box>-->
                                        </div>
                                        <div class="flex2child">
                                            <gl-combo-box label="ระดับความยาก" always-float-label items="[[difficultyIndex]]" item-label-path="label" item-value-path="id" value="{{item.dificalty_index}}"></gl-combo-box>
                                              <!--<gl-combo-box label="ระดับความยาก" always-float-label items="[[difficultyIndex]]" item-label-path="label" item-value-path="id" value="{{item.obj_tag}}"></gl-combo-box>-->
                                        </div>
                                    </div>
                                    <!--<span>
                                   
                                    </span>
                                    <span>
                                    <gl-combo-box style="width: 50%" label="เลือก Module" always-float-label items="{{listTag}}" value="{{item.obj_tag}}"></gl-combo-box>
                                    </span>-->
                                    <!--<paper-tags-input label="" placeholder="ป้อน Tag ที่ต้องการ จากนั้นกดปุ่ม Enter" tags="{{item.obj_tag}}"></paper-tags-input>-->
                                </td>
                                <td style="width:10%;text-align: center;">
                                    <paper-icon-button on-tap="delChoice" index="[[index]]" icon="delete"></paper-icon-button>
                                </td>
                            </tr>
                        </template>
                        <tr class="hideBorder" on-tap="addChoice" style="cursor: pointer">
                           <td></td>
                           <td colspan="2" style="text-align: right;">
                                <iron-icon icon="add"></iron-icon>
                               เพิ่มวัตถุประสงค์
                           </td>
                        </tr>
                    </tbody>
                </table>
                <div class="container" style="background-color: white">
                 <div class="flex-horizontal-with-ratios">
                    <div class="flex2child">
                        <div class="fontCSC right" style="margin: 10px; font-size:18px;">กำหนดเวลา </div>
                    </div>
                    <div class="flex2child">
                        <gl-form-input class="right" type="number" placeholder="" no-label-float value="{{data.time}}">
                             <div suffix>นาที</div>
                        </gl-form-input>
                    </div>
                     <div class="flex3child"></div>
                    <div class="flex2child">
                        <div class="fontCSC right" style="margin: 10px; font-size:18px;">
                            จำนวนข้อทั้งหมด
                        </div>
                        
                    </div>
                    <div class="flex2child">
                        
                        <gl-form-input class="right" no-label-float value="{{data.amount_all}}"></gl-form-input>
                    </div>
                     <div class="flex2child"></div>
                 </div>
                </div>
            </paper-material>

            [[countAmount(data.objective.*)]]
            <!--<div style="margin: 15px 0px 15px 0px;">
                <paper-material elevation="1">
                    <div style="padding: 30px; background-color: white;">
                        <div class="headPanel gl-default">Tag</div>
                        <paper-tags-input label="" placeholder="ป้อน Tag ที่ต้องการ จากนั้นกดปุ่ม Enter" tags="{{data.tag}}"></paper-tags-input>
                    </div>
                </paper-material>
            </div>-->
            <div class="flex-end-justified" style="margin-top: 10px;">
                <paper-button class="gl-btn-danger" on-tap="confirmDel" raised>ลบข้อมูล</paper-button>
                <paper-button class="gl-btn-success" on-tap="getForm" raised>บันทึก</paper-button>
            </div>
        </div>
        
    </template>
    <script>
        Polymer({
            is: 'examination-manage',
            behaviors:[ReduxBehavior],
            properties:{
                listTag:{
                    statePath:'examination.listTag'
                },
                difficultyIndex:{
                    statePath:'commonSystem.difficultyIndex',
                },
                subModule:{
                    statePath:'commonSystem.subModule',
                },
                data:{
                    statePath:'examination.dataSelect'
                }
            },
            cont:function(index){
                return index+1;
            },
            addChoice:function(){
                if(typeof this.data.objective == 'undefined'){
                    this.data = {
                        objective:[]
                    }
                }
                this.push('data.objective',{
                    name:"",
                    amount:0,
                    sub_module:[],
                    dificalty_index:1,
                })
            },
            delChoice:function(e){
                this.splice('data.objective',e.target.index,1);
            },
            startQuize:function(){
                // console.log(this.data.id)
                //console.log(this.data.id);
                this.fire('close',this.data.id);
                // this.$$('paper-dialog').open();
            },
            getForm:function(){
                this.data.module = this.module;
                this.data.amount_all = parseInt(this.data.amount_all);
                this.data.time = parseInt(this.data.time);
                this.data.objective = this.data.objective.map((item)=>{
                    item.amount = parseInt(item.amount);
                    item.sub_module = item.sub_module.map((item)=>{
                        console.log(item);
                        if(typeof item.id != 'undefined'){
                            return item.id;
                        }
                        else {
                            return item;
                        }
                    })
                    return item;
                })
                // console.log(this.data);
                if(typeof this.data.id != 'undefined'){
                    //   console.log(this.data);
                    this.dispatchAction('EXAMINATION_UPDATE',this.data);
                }
                else{
                    this.dispatchAction('EXAMINATION_INSERT',this.data);
                }
                    
            },
            confirmDel:function(e){
                this.fire('toast',{ 
                    status:'openDialog',
                    text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
                    confirmed:this.delData.bind(this), 
                 })
            },
            delData:function(result){   
                if(result == true){
                    this.dispatchAction('EXAMINATION_DELETE',this.data.id);
                    this.fire('close');
                }
            },
            randomExamination:function(){
                var newData = this.data.objective.map((item)=>{
                    item.sub_module = item.sub_module.map((item2)=>{
                        if(typeof item2.id != 'undefined'){
                             return item2.id;
                        }
                        else{
                            return item2;
                        }   
                    })
                   
                    return item;
                })
                this.dispatchAction('EXAMINATION_RANDOM',newData);
            },
            countAmount:function(obj){
                var count = 0;
                if(typeof obj.base != 'undefined' && obj.base.length != 0){
                    obj.base.map((item)=>{
                        if(typeof item.amount == "string"){
                            count += parseInt(item.amount);
                        }
                        else {
                            count += item.amount;
                        }
                    })
                    this.set('data.amount_all',count)
                }
            }
           
        });
    </script>
</dom-module>