
<dom-module id="userManage-manage">
    <template>
        <style include="page-style flex-style"></style>
        <div style="padding: 20px 20px 10px 20px">
            <paper-material elevation="1">
                <div class="container bgWhite">
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="E-mail" placeholder="กรอก Email" value="{{data.email}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input hidden="[[active]]" label="Password" type="Password" placeholder="กรอก Password" value="{{password}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input hidden="[[active]]" label="Confirm-Password" type="Password" placeholder="ยืนยัน Password" value="{{confirmPassword}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                         <paper-button class="gl-btn-primary" style="width: 100%" on-tap="clearPassword" hidden="[[hide]]">
                         <iron-icon icon="icons:cached"></iron-icon>
                         &nbsp;&nbsp;RESET PASSOWRD</paper-button>
                    </div>  
                    <div class="flexchild">
                    </div>
                </div>
                </div>
            </paper-material>
        </div>
        <div style="padding: 0px 20px 20px 20px">
            <paper-material elevation="1">
                <div class="container bgWhite">
    <!---chonEdit--> 
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="รหัสพนักงาน" placeholder="กรอกรหัสพนักงาน" value="{{data.emp_id}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>  
    <!---end-->               
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="ชื่อ-สกุล" placeholder="กรอกชื่อ-สกุล" value="{{data.name}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>
                <!--<div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <gl-form-input label="E-mail" placeholder="กรอก Email" value="{{data.email}}"></gl-form-input>
                    </div>
                    <div class="flexchild"></div>
                </div>-->
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <!--<gl-combo-box label="ประเภท" placeholder="กรอก username" items="[[role]]" item-label-path="name" item-value-path="id" value="{{data.role}}"></gl-combo-box>-->
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                        <tag-module-form label="END-TAG" items="[[newModule]]" value="{{data.end_tags}}"></tag-module-form>
                        <!--<paper-tags-dropdown items='[[newModule]]' noink label="END-TAG"  value-array="{{data.end_tags}}"></paper-tags-dropdown>-->
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child">
                         <tag-module-form label="KEY-TAG" items="[[newModule]]" value="{{data.key_tags}}"></tag-module-form>
                        <!--<paper-tags-dropdown items='[[newModule]]' noink label="KEY-TAG"  value-array="{{data.key_tags}}"></paper-tags-dropdown>-->
                    </div>
                    <div class="flexchild"></div>
                </div>
                <div class="flex-horizontal-with-ratios">
                    <div class="flexchild"></div>
                    <div class="flex3child" style="padding-top: 10px">
                        <paper-checkbox checked="{{data.admin}}">ADMIN</paper-checkbox>
                    </div>
                    <div class="flexchild"></div>
                </div>
                </div>
             </paper-material>

            <div class="flex-end-justified" style="padding-top: 10px;">
                <div>
                   
                    <paper-button disabled$="[[disabledBtn]]" class$="[[btnClass]]" on-tap="getForm" raised>บันทึก</paper-button>
                     <paper-button class="gl-btn-danger" on-tap="confirmData" raised>ลบข้อมูล</paper-button>
                </div>
            </div>
            
        </div>
    </template>
    <script>
        Polymer({
            is: 'userManage-manage',
            observers:['checkPassword(password,confirmPassword)'],
            behaviors:[ReduxBehavior],
            properties:{
                data:{
                    statePath: 'userManage.dataSelect',
                    observer: 'setData'
                },
                module:{
                    statePath:'commonSystem.module',
                    observer:'setModule'
                }
            },
            checkPassword:function(password,confirmPassword){
                if(password == confirmPassword && password != "" && confirmPassword != ""){
                    this.btnClass = "gl-btn-success";
                    this.disabledBtn = false;
                }
                else {
                    this.btnClass = "";
                    this.disabledBtn = true;
                }
            },
            clearPassword:function(){
                console.log(this.data);
                this.password = "";
                this.confirmPassword = "";
                this.active = false;
                this.hide = true;
                this.resetPw = false;
                this.data.status = false;
                // this.set('data.status',false);
                // this.data.password = "";
            },
            setData:function(){
               
                if(typeof this.data.id == 'undefined'){
                    this.active = false;
                    this.hide = true
                }
                else{
                    this.active = true;
                    this.hide = false
                    this.password = "xxx";
                    this.confirmPassword = "xxx";
                } 
            },
            setModule:function(){
                if(this.module.length != 0){
                    this.newModule = this.module.map((item,index)=>{
                        return {
                            id: item,
                            label:item
                        }
                    })
                }
            },
            confirmData:function(){
                this.fire('toast',{ 
                 status:'openDialog',
                 text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
                 confirmed:this.delData.bind(this), 
                 })
            },
            delData:function(check){
                if(check == true){
                    this.dispatchAction('USER_MANAGE_DELETE',this.data.id);
                    this.fire('close');
                }
            },
            getForm:function(){
                this.data.end_tags = this.data.end_tags.map((item)=>{
                    if(typeof item.id != 'undefined'){
                         return item.id;
                    }
                    else{
                        return item;
                    }
                })
                this.data.key_tags = this.data.key_tags.map((item)=>{
                    if(typeof item.id != 'undefined'){
                         return item.id;
                    }
                    else{
                        return item;
                    }
                })
                if(this.data.admin != true){
                    this.data.admin = false;
                }
                if(this.resetPw == false || typeof this.data.status == 'undefined'){
                     this.data.password = this.password;
                     this.data.status = false;
                     this.resetPw = true;
                }
                // console.log(this.resetPw);
                // console.log(this.data);
                // console.log(JSON.stringify(this.data));
                // console.log(this.data.status)
                if(typeof this.data.id != 'undefined'){
                    this.dispatchAction('USER_MANAGE_UPDATE',this.data);
                }
                else{
                    this.dispatchAction('USER_MANAGE_INSERT',this.data);
                }
                // this.fire('close');
                
            }
            
        });
    </script>
</dom-module>